<footer>
    <p>
        This page is created for educational purposes only.<br/>
        No images or content will be published to the Internet for public use.<br/>
        Book cover images were retrieved from 
        <a href="https://www.barnesandnoble.com/" target="_blank">Barnes and Noble</a>.
    </p>
</footer>